@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.burger {
  @apply relative;

  &::after,
  &::before {
    content: "";

    @apply absolute w-full bg-black rounded-full transition-all duration-300;
    height: 2px;
  }

  &::after {
    @apply left-0;
    top: 9px;
  }

  &::before {
    @apply right-0;
    top: 17px;
  }

  &:hover {
    &::after,
    &::before {
      @apply w-9/12;
    }
  }
}

.arrow {
  @apply relative border-t-2 border-r-2 border-black transition-transform duration-300;

  &::after {
    content: "";
    @apply absolute bg-black;
    right: -6px;
    top: 12px;
    width: 2.4rem;
    height: 2px;
    transform: rotate(-45deg);
  }

  &:hover {
    transform: rotate(45deg);
  }
}

.popup {
  &-container {
    @apply w-full;

    @media (min-width: 640px) {
      width: 640px;
    }
  }

  &-enter {
    @apply opacity-0;

    & > .popup-container {
      transform: scale(0.8);
    }
  }

  &-enter-active {
    @apply opacity-100;
    transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);

    & > .popup-container {
      transform: scale(1);
      transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    }
  }

  &-exit {
    @apply opacity-100;

    & > .popup-container {
      transform: scale(1);
    }
  }

  &-exit-active {
    @apply opacity-0;
    transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);

    & > .popup-container {
      transform: scale(0.8);
      transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    }
  }
}
